# 手动管理的内容
!README.md
.dev
packwiz.exe
/*.jar
/*.json
/*.zip

# 禁用jei的world:里面记录了具体世界的收藏等内容
config\jei\world\*
# ipn内容手动管理 忽略全部 放行白名单
config/inventoryprofilesnext/*
!config/inventoryprofilesnext/integrationHints/
!config/inventoryprofilesnext/inventoryprofiles.json
!config/inventoryprofilesnext/refillDisabledSlots.txt

# ==========================================
# 1. 运行垃圾、缓存与环境文件 (全部忽略)
# ==========================================
.mixin.out/
.probe/
.vscode/
crash-reports/
downloads/
local/
logs/
PCL/
saves/
schematics/
screenshots/
xaero/
XaeroWaypoints_BACKUP*/
*-natives/
# 本地临时状态与缓存标记
.qmenu_opened.marker
command_history.txt
options.txt
TrashSlotSaveState.json
usercache.json
usernamecache.json
# ==========================================
# 2. Mod 文件夹 (只保留 packwiz 的 .pw.toml)
# ==========================================
# 忽略所有实体 .jar 包
mods/*.jar
# 强制追踪 packwiz 生成的 .pw.toml 元数据
!mods/*.pw.toml
!mods/**/*.pw.toml
# ==========================================
# 3. 光影与材质包 (如需要分发光影/材质包请自行删掉下方对应行)
# ==========================================
shaderpacks/
resourcepacks/